---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Body from "../components/Body.astro";
import DocumentIcon from "../components/icons/DocumentIcon.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <Body>
    <main class="py-8">
      <section class="flex flex-col gap-12">
        <div class={" flex flex-col"}>
          <h1 class="text-xl max-w-xl text-zinc-900 font-medium">
            Writing about tech, business and making furniture
          </h1>
        </div>
        <ul class="flex flex-col gap-8">
          {
            posts.map((post) => (
              <li class="flex gap-4 items-center">
                <div class="p-2 rounded-xl bg-white shadow-lg border">
                  <DocumentIcon />
                </div>
                <a href={post.url} class="flex flex-col">
                  <h3 class="text-zinc-900 font-medium">
                    {post.frontmatter.title}
                  </h3>
                  <p class="text-sm">{post.frontmatter.description}</p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </Body>
</html>
