---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Body from "../components/Body.astro";
import HomeProjectListing from "../components/HomeProjectListing.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .slice(0, 3);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <div class="flex flex-col gap-16 md:gap-32">
      <div class={"w-full max-w-prose py-16 flex flex-col gap-8"}>
        <img
          src={"/assets/avatar.jpg"}
          class="w-16 h-16 rounded-full drop-shadow border-2 border-white"
          alt={"Tatenda Christopher Chinyamakobvu"}
        />
        <div>
          <h1 class="font-semibold text-xl tracking-tighter text-zinc-900">
            Tatenda Christopher Chinyamakobvu
          </h1>
          <p>Product designer & frontend engineer</p>
        </div>
        <div class="prose prose-zinc">
          <p>
            Zimbabwean product designer and frontend engineer living in Harare.
            Currently leading the Product Engineering team at Pagka, working to
            make student accommodation search easier. On weekends I am building
            a startup to bring the best desks and utilities to your workspace.
          </p>
          <p>
            I am open to collaborations and freelance projects. You can download
            my
            <a
              href="https://read.cv/kamfeskaya"
              class="font-semibold underline text-zinc-900"
              target="_blank"
              rel="noopener">CV</a
            > or get in touch
            <a
              href="mailto:tatendachris@gmail.com"
              target="_blank"
              rel="noopener"
              class="font-semibold underline text-zinc-900"
              >tatendachris@gmail.com</a
            >
          </p>
        </div>
        <div>
          <a href="mailto:tatendachris@gmail.com">
            <button
              class={"text-orange-50 bg-zinc-900 px-6 py-3 rounded-full shadow font-medium"}
            >
              Let's have a chat 🡒
            </button>
          </a>
        </div>
      </div>

      <div class="flex flex-col gap-16">
        <div class="flex">
          <h2 id="magic" class="text-xl font-semibold text-zinc-900">
            <span class="magic-heading">Selected projects 2020 - 2022 ↓</span>
          </h2>
        </div>

        <HomeProjectListing
          title="Pekugara"
          description={`
            It’s disappointing. It looks nothing like it did online. The WiFi is spotty. 
            You can’t get a hold of your host. You’re left with a list of rules, from 
            amenities that are off-limits to cleaning instructions before you check-out.
          `}
          href="/work/pekugara"
          image="/assets/pekugara/M1.jpg"
        />
        <HomeProjectListing
          title="React Skeleton"
          description="Webflow Development, Advanced Animations, Custom Code"
          href="/work/pekugara"
          image="/assets/eslint/Banner.png"
        />
        <HomeProjectListing
          title="Landing pages"
          description="Improve your outreach reply rate. Hyper personalize your LinkedIn messages."
          href="/work/landing-pages"
          image="/assets/littlebird/M8.jpg"
        />
      </div>

      <section class="flex flex-col gap-8 max-w-prose">
        <h2 class="text-xl font-semibold tracking-tighter text-zinc-900">
          Writing
        </h2>
        <ul class="flex flex-col gap-4">
          {
            posts.map((post) => (
              <li>
                <a href={post.url} class="flex flex-col gap-1">
                  <h3 class="text-zinc-900 font-medium">
                    {post.frontmatter.title}
                  </h3>
                  <p>{post.frontmatter.description}</p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
      <section class="flex flex-col gap-4 max-w-prose">
        <h2 class="text-xl font-semibold tracking-tighter text-zinc-900">
          Bookmarks
        </h2>
        <a href={"https://essays.uxdesign.cc"} class="flex flex-col gap-1">
          <h3 class="text-zinc-900 font-medium">The case study factory</h3>
          <p>
            How the formulaic approach to case studies is numbing critical
            thinking.
          </p>
        </a>

        <a href={"https://www.rainbowkit.com/"} class="flex flex-col gap-1">
          <h3 class="text-zinc-900 font-medium">
            Using RainbowKit and wagmi to build Web3 apps
          </h3>
          <p>
            Beautiful and seamless user experience for connecting wallets to
            your dApp
          </p>
        </a>
      </section>
    </div>
  </Body>
</html>
