---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Body from "../components/Body.astro";
import ProjectsListItem from "../components/ProjectsListItem.astro";
import { data } from "../lib/data";
import DocumentIcon from "../components/icons/DocumentIcon.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .slice(0, 3);
---

<script>
  var time = new Date().toLocaleTimeString("en-US", {
    timeZone: "Africa/Harare",
    hour: "numeric",
    minute: "numeric",
    hour12: false,
  });
  var timeEl = document.getElementById("time");

  if (timeEl) timeEl.innerHTML = time;
</script>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <div class="flex flex-col gap-16">
      <div class={"w-full max-w-prose pt-16 flex flex-col gap-8 p-4"}>
        <img
          src={"/assets/avatar.jpg"}
          class="w-16 h-16 rounded-xl -rotate-6 drop-shadow border-4 border-white"
          alt={"Tatenda Christopher Chinyamakobvu"}
        />
        <p class="text-3xl text-zinc-900">
          Zimbabwean fullstack developer and designer building internet stuff
          with Typescript & Rust.
        </p>
        <div>
          <p class="text-sm">
            Currently in Harare, Zimbabwe &bull; <span id="time"></span>
          </p>
          <p class="text-sm">
            &copy; {new Date().getFullYear()} Tatenda Christopher Chinyamakobvu
          </p>
        </div>
      </div>
      <div class="flex">
        <img
          src="/projects/Snack.png"
          alt="Tatenda Christopher Chinyamakobvu"
          class="w-full rounded-xl h-96 object-cover object-top shadow border-2 border-white"
        />
      </div>
      <section class="max-w-prose prose prose-zinc p-4">
        <p>
          Currently leading the core team at The Idea Factory, a tech startup
          accelerator based in Harare, Zimbabwe.
        </p>

        <p>
          An engineer at heart, I am passionate about building products that
          solve real problems. I am also a big fan of open source software and I
          try to contribute to the community as much as I can. Ocassionally I
          write about my experiences and lessons learnt on my blog. In my free
          time I design and build workspace furniture.
        </p>
        <p>
          I am currently available for freelance work and consulting projects
          and I am always interested in hearing about new opportunities . You
          can download my
          <a
            href="https://read.cv/kamfeskaya"
            class="font-medium underline text-zinc-900"
            target="_blank"
            rel="noopener">CV</a
          > or get in touch
          <a
            href="mailto:tatendachris@gmail.com"
            target="_blank"
            rel="noopener"
            class="font-medium underline text-zinc-900"
            >tatendachris@gmail.com</a
          >
        </p>
        <p>
          <button
            class="px-6 py-2 rounded-lg font-semibold bg-zinc-900 text-white"
          >
            Contact me
          </button>
        </p>
      </section>
      <section class="flex flex-col gap-4">
        <div class="prose prose-zinc">
          <h2 class="font-medium text-zinc-600 text-sm uppercase px-4">
            Featured projects
          </h2>
        </div>
        <div class="flex flex-col w-full">
          <ProjectsListItem projects={data.projects} />
        </div>
      </section>

      <section class="flex flex-col gap-4 pb-32">
        <div class="prose prose-zinc">
          <h2 class="font-medium text-zinc-600 text-sm uppercase px-4">
            Writing
          </h2>
        </div>
        <div class="flex flex-col w-full">
          <ul class="flex flex-col">
            {
              posts.map((post) => (
                <li class="rounded-xl relative group flex items-center gap-4 hover:bg-zinc-50 p-2 px-4  max-w-screen-sm">
                  <a href={post.url} class="flex flex-col ">
                    <h3 class="text-zinc-900 font-medium">
                      {post.frontmatter.title}
                    </h3>
                    <p class="text-sm">{post.frontmatter.description}</p>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </div>
  </Body>
</html>
