---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Body from "../components/Body.astro";
import ProjectsListItem from "../components/ProjectsListItem.astro";
import { data } from "../lib/data";
import DocumentIcon from "../components/icons/DocumentIcon.astro";
import ExternalLinkIcon from "../components/icons/ExternalLinkIcon.astro";
import LinkIcon from "../components/icons/LinkIcon.astro";
import MagicStar from "../components/icons/MagicStar.astro";
import RightIcon from "../components/icons/RightIcon.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .slice(0, 10);
---

<script>
  var time = new Date().toLocaleTimeString("en-US", {
    timeZone: "Africa/Harare",
    hour: "numeric",
    minute: "numeric",
    hour12: false,
  });
  var timeEl = document.getElementById("time");

  if (timeEl) timeEl.innerHTML = time;
</script>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <div class="flex flex-col gap-16">
      <div class={"w-full max-w-prose pt-16 flex flex-col gap-8 p-4"}>
        <div class="mb-4 max-w-96">
          <p class="font-medium text-zinc-900 w-96">
            Tatenda Christopher Chinyamakobvu
          </p>
          <div class="mb-2">
            <p class="text-sm text-zinc-400">
              Currently in Harare, Zimbabwe &bull; <span id="time"></span>
            </p>
          </div>
          <p class="mb-4">
            Zimbabwean fullstack developer and designer building internet stuff
            with Typescript & Rust.
          </p>
          <a
            href="mailto:tatendachris@gmail.com"
            target="_blank"
            rel="noopener"
          >
            <button
              class="px-3 flex gap-2 items-center font-medium text-sm py-1 rounded-lg bg-zinc-900 text-white"
            >
              Contact me
              <RightIcon />
            </button>
          </a>
        </div>
      </div>

      <section class="p-4">
        <h2 class="font-medium mb-4 text-zinc-400 tracking-normal text-sm">
          Latest
        </h2>
        <div class="max-w-prose">
          <div class="mb-8 flex flex-col gap-1 max-w-96">
            <div>
              <img
                src="/projects/ringpro.png"
                class="w-10 h-10 object-contain my-2"
              />
              <a
                href="/projects/ringpro"
                class="font-medium p-0.5 mb-2 text-zinc-900"
              >
                Introducing RingPro.
              </a>
            </div>
            <p class="text-sm text-zinc-500">
              I built RingPro to help me manage my tasks and get things done. It
              is a todo app with a twist. It is smart and helps you focus on
              what matters.
            </p>
            <a
              href="/projects/ringpro"
              class="px-3 flex gap-2 font-semibold items-center text-sm py-1 mt-2 rounded-lg bg-zinc-100 text-zinc-900 w-fit"
            >
              Learn more
              <LinkIcon />
            </a>
          </div>
        </div>
      </section>

      <section class="flex flex-col gap-4 pb-32">
        <div class="prose prose-zinc">
          <h2
            class="font-medium mb-4 text-zinc-400 tracking-normal px-4 text-sm"
          >
            Writing
          </h2>
        </div>
        <div class="flex flex-col w-full">
          <ul class="flex flex-col">
            {
              posts.map((post) => (
                <li class="rounded-xl relative group flex items-center gap-4 hover:bg-zinc-50 p-2 px-4  max-w-screen-sm">
                  <a href={post.url} class="flex flex-col ">
                    <p class="text-zinc-900 text-base font-medium">
                      {post.frontmatter.title}
                    </p>
                    <p class="text-sm text-zinc-400">
                      {post.frontmatter.description}
                    </p>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </div>
  </Body>
</html>
