---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Body from "../components/Body.astro";
import LinkIcon from "../components/icons/LinkIcon.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const work = (await Astro.glob("./work/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <main class="py-12">
      <section class="flex flex-col gap-16 max-w-5xl">
        <div class={"max-w-prose flex flex-col gap-32"}>
          <h1 class="text-5xl tracking-tighter text-zinc-900 font-medium">
            Top tier craft. I build everything with passion.
          </h1>
        </div>
        <div class="grid grid-cols-1 gap-32 w-full">
          {
            work.map((work_item) => (
              <div
                style={`
                  background-image: url(${work_item.frontmatter.heroImage});
                  background-size: cover;
                  background-position: center;
                  
                `}
                class="w-full col-span-1 overflow-hidden group bg-zinc-50 rounded-xl shadow-xl aspect-video"
              >
                <a
                  href={work_item.url}
                  class="flex flex-col gap-1 w-full h-full backdrop-blur-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 delay-100 ease-in-out"
                >
                  <div class="p-8 flex justify-between items-center">
                    <h3 class="text-zinc-900 font-medium px-4 py-2 bg-white rounded-full shadow-xl">
                      {work_item.frontmatter.title}
                    </h3>
                    <p class="rounded-full p-2 aspect-square shadow-xl bg-white">
                      <LinkIcon />
                    </p>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </section>
    </main>
  </Body>
</html>
