---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Body from "../components/Body.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const work = (await Astro.glob("./work/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class="py-12">
      <section class="flex flex-col gap-16 max-w-xl">
        <div class={"max-w-prose flex flex-col gap-32"}>
          <h1 class="text-5xl tracking-tighter text-zinc-900 font-serif">
            Top tier craft. I build everything with passion.
          </h1>
        </div>
        <ul class="flex flex-col gap-4">
          {
            work.map((work_item) => (
              <li>
                <a href={work_item.url} class="flex flex-col gap-1">
                  <h3 class="text-zinc-900 font-medium">
                    {work_item.frontmatter.title}
                  </h3>
                  <p>{work_item.frontmatter.description}</p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </Body>
</html>
