---
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import LeftIcon from "../components/icons/LeftIcon.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title + " - Kamfeskaya"} description={description} />
  </head>

  <Body>
    <main class="py-12 flex flex-col gap-12">
      <div>
        <button
          onclick={"back()"}
          class="shadow-sm border bg-white font-medium p-2 rounded-full"
        >
          <LeftIcon />
        </button>
      </div>
      <section class="flex flex-col gap-2">
        {
          pubDate && (
            <p class="text-sm">
              Published <time>{pubDate}</time>
            </p>
          )
        }
        <h1 class="text-5xl text-zinc-900 font-medium max-w-xl">{title}</h1>
        <p>{description}</p>
      </section>
      {
        heroImage && (
          <img
            height={360}
            src={heroImage}
            alt=""
            class="w-full object-cover h-[360px] rounded-xl"
          />
        )
      }

      <article class="w-full max-w-5xl prose prose-zinc">
        <slot />
      </article>
    </main>
    <script is:inline>
      const back = () => history.back();
    </script>
  </Body>
</html>
