---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";
import ArticleBackButton from "../components/ArticleBackButton.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    client?: string;
    role?: string;
    focus?: string;
  };
}

const {
  content: { title, description, client, role, focus, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title + " - Kamfeskaya"} description={description} />
  </head>

  <Body>
    <main class="py-12 flex flex-col gap-32">
      <ArticleBackButton />

      <section class="flex flex-col gap-8 py-12">
        <h1 class="text-5xl max-w-xl font-semibold text-zinc-900">
          {description}
        </h1>
        <p>
          <span class="tag">{title}</span>
        </p>
      </section>
      {
        heroImage && (
          <img
            height={360}
            src={heroImage}
            alt=""
            class="w-full object-cover aspect-square lg:aspect-video rounded-xl shadow"
          />
        )
      }

      <section class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="col-span-1 flex gap-1 flex-col">
          <p>Client</p>
          <p class="font-semibold text-zinc-900">{client}</p>
        </div>
        <div class="col-span-1 flex gap-1 flex-col">
          <p>Role</p>
          <p class="font-semibold text-zinc-900">{role}</p>
        </div>
        <div class="col-span-1 flex gap-1 flex-col">
          <p>Focus</p>
          <p class="font-semibold text-zinc-900">{focus}</p>
        </div>
      </section>

      <article class="mx-auto max-w-prose prose prose-zinc">
        <slot />
      </article>
    </main>
  </Body>
</html>
